:root {
  font-size: 14px;
}

.App {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.App > h2 {
  align-self: center;
}

.word-item {
  overflow-wrap: break-word;
}

.word-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.word-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* BEGIN DELETE CONFIRMATION PROMPT */
/* TODO: Refactor this using "nice" CSS */
.delete-confirmation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delete-confirmation > * {
  flex: 1;
  min-width: 0;
}

.delete-confirmation > *:nth-child(1) {
  flex-basis: 100%;
}

.delete-confirmation > *:nth-child(2),
.delete-confirmation > *:nth-child(3) {
  flex-basis: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}
/* END DELETE CONFIRMATION PROMPT */

.word-item-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.word-item-note p {
  margin-bottom: 0.5rem;
}

.word-item-note textarea {
  flex-grow: 1;
}

.word-item-edit-confirmation {
  display: flex;
  justify-content: space-between;
}
